/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: black;
  overflow: hidden;
}

/* Logo */
.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 150px;
  width: 100%;
  height: auto;
  z-index: 10;
}

/* Container com a imagem em tela cheia */
.container {
  height: 100vh;
  width: 100vw;
  background-image: url('https://i.postimg.cc/Ssy1c2cJ/4ba91ff4-4390-4be7-abc2-1956b60cf440.jpg');
  background-repeat: no-repeat;
  background-size: cover;         /* Preenche a tela */
  background-position: center;    /* Centraliza a imagem */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caixa com conteúdo */
.content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 90%;
  z-index: 5;
}

/* Título */
.content h2 {
  margin-bottom: 20px;
}

/* Botão */
button {
  background-color: #00BFFF;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #1ABC9C;
}

/* Campo de entrada */
input {
  padding: 10px;
  font-size
